@charset "UTF-8";
.container {
    display: flex;
    justify-content: space-between;
    gap: 50px; /* 要素間の余白 */
}

.form-container form {
    width: 100%;
}


.form-container {
    width: 100%;
    padding: 30px 50px; /* 上下50px、左右100px */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
}
.form-container{
	margin-left:30px;
	margin-right: 12px;
}