<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>MailSendServlet</display-name>
    
    <!-- ウェルカムファイルの設定 -->
    <welcome-file-list>
        <welcome-file>jsp/Form.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- ContactServletの設定 -->
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>ContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    
    <!-- DeleteHistoryServletの設定 -->
    <servlet>
        <servlet-name>DeleteHistoryServlet</servlet-name>
        <servlet-class>DeleteHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteHistoryServlet</servlet-name>
        <url-pattern>/deleteHistory</url-pattern>
    </servlet-mapping>
    
    <!-- DeleteSingleHistoryServletの設定 -->
    <servlet>
        <servlet-name>DeleteSingleHistoryServlet</servlet-name>
        <servlet-class>DeleteSingleHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSingleHistoryServlet</servlet-name>
        <url-pattern>/deleteSingleHistory</url-pattern>
    </servlet-mapping>
    
    <!-- エラーページの設定 -->
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error.jsp</location>
    </error-page>
    
</web-app>
